@media (max-width: 767px) {
	
	div.top_info_line{
		float: none;
	}
	div.top_info_line ul li {
    
    margin: 4px;
    padding: 3px;
    line-height: 20px;
	float: none;
	
	}
	.wrapper{
		display: block;
		overflow-x: hidden;
	}
	.top-left{
		padding:0;
	}
	.top-right {
    padding: 20px 0px 12px 0;
}
	.top-left a{
		display: inherit;
		text-align: center;
	}
	.top-right p{
		text-align: center;
		padding: 0px;
		}
	.navbar-default {
    margin: 0px;
    min-height: 0px;
    top: 0;
    transform: translateY(0%);
}
nav.navbar-default .navbar-nav > li {
    border-right: none;
    display: block;
    margin: 0;
    padding: 0 10px 0 10px;
    float: none;
}
.navbar-header {
    /*! position: absolute; */
    /*! right: 0px; */
}
.navbar-toggle, .navbar-toggle:hover {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #0e0e0e;
    border: 0px none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-radius: 0px;
    cursor: pointer;
    height: 31px;
    overflow: hidden;
    width: 38px;
    float: right;
    z-index: 100;
}
.navbar-toggle {
    background-color:  #0e0e0e;
    border: 1px solid  #0e0e0e;
    cursor: pointer;
    height: 31px;
    overflow: hidden;
    width: 38px;
    float: right;
    z-index: 100;
	border:none;
	bottom:0px;
	
}
.navbar-toggle span {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 3px;
    left: 8px;
    position: absolute;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all 0.25s ease-in-out 0s;
    -webkit-transition: all 0.25s ease-in-out 0s;
    width: 22px;
}
.navbar-toggle span:nth-child(1) {
    top: 7px;
}
.navbar-toggle span:nth-child(2) {
    top: 14px;
}
.navbar-toggle span:nth-child(3) {
    top: 14px;
    opacity: 0;
}
.navbar-toggle span:nth-child(4) {
    top: 21px;
    transition: all 0.25s ease-in-out 0s;
    -webkit-transition: all 0.25s ease-in-out 0s;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background:  #0e0e0e !important;
}
.navbar-toggle.nav-bg span:nth-child(1), .navbar-toggle.nav-bg span:nth-child(4) {
    opacity: 0;
	top:24px; 
}
.navbar-toggle.nav-bg span:nth-child(2) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
}
.navbar-toggle.nav-bg span:nth-child(3) {
    opacity: 1;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    text-align: center;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #a39763;
}
.quote_section .TitleStyle6{
	font-size: 32px;
}
.btn-custom {
    margin-left: 17px;
    width: 70px;
}
.inner_main_conent .quote_box{
	float: none;
	display: block;
	margin: 0 auto;
	height: auto;
	padding-bottom:20px;
}
.inner_main_conent .quote_box .TitleStyle6{
	font-size:24px;
}
.main_conent, .inner_main_conent {
    text-align: left;
	padding: 20px 25px;
}
/*Footer*/
.footer_bg{
	padding: 0px;
}
ul.footer_nav {
	padding: 0;
}
ul.footer_nav > li {
	color: #393738;
	width: 100%;
	text-align: center;
	padding: 10px 0 10px 0px;
	border-bottom: 1px solid #cccccc;
	margin-left: 0px;
	background: rgb(229,232,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(229,232,234,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229,232,234,1)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(229,232,234,1) 0%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(229,232,234,1) 0%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(229,232,234,1) 0%, rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(229,232,234,1) 0%, rgba(255,255,255,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8ea', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
ul.footer_nav > li:last-child {
	border-bottom: none;
}
ul.footer_nav > li a{
	color: #393738;
}
.dropdown-menu {
    text-align: center;
    position: relative;
    float: none;
		
}
ul.footer_nav li ul.dropdown-menu li{
	display: block;
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.copyright{
	padding: 20px;
}
}
@media (min-width: 768px) and (max-width: 1199px) {
	div.top_info_line ul li {
	
	margin:5px 2px;
	padding: 3px;
	line-height: 18px;
	float: right;
}
	nav.navbar-default .navbar-nav > li > a {
    
    font-size: 12px;
    
    padding: 4px 6px 4px 6px;
}
.inner-banner-section{
	font-size:15px;
}
#highlight-box-text {
    padding: 25px 10px;
}
.quote_section .TitleStyle6{
	font-size: 28px;
}
.quote_box .TitleStyle6{
	font-size: 25px;
}
.btn-custom {
    margin-left: 5px;
    width: 68px;
}
.main_conent, .inner_main_conent{
	text-align: left;
}
}

@media screen and (max-width: 1199px) {
	
a.sms-txt{
	cursor: pointer;
	pointer-events: auto;
	text-decoration: none;
}

}